ASPNETCORE_ENVIRONMENT=Production
ZADANA_Realtime__WebSocketsEnabled=true
ZADANA_Realtime__ServerSentEventsEnabled=true
ZADANA_Email__FromEmail=no-reply@zadna0.com
ZADANA_Email__FromName=Zadna
ZADANA_Email__SupportEmail=support@zadna0.com
ZADANA_Email__HelloEmail=hello@zadna0.com
ZADANA_Email__InfoEmail=info@zadna0.com
ZADANA_Email__ContactEmail=contact@zadna0.com
ZADANA_Email__Smtp__Host=mail.zadna0.com
ZADANA_Email__Smtp__Port=465
ZADANA_Email__Smtp__Security=SslOnConnect
ZADANA_Email__Smtp__Username=no-reply@zadna0.com
ZADANA_Email__Smtp__Password=PUT_SMTP_PASSWORD_HERE
ZADANA_Email__Smtp__TimeoutSeconds=30
ZADANA_Email__Smtp__RequireAuthentication=true

OneSignal__Enabled=true
OneSignal__AppId=e557da4e-947b-468b-ab5b-37c552c35dca
OneSignal__RestApiKey=PUT_ROTATED_CUSTOMER_REST_API_KEY_HERE
OneSignal__DriverAppId=1eead1ea-3d6f-4f2a-8bc5-c681d71b55f6
OneSignal__DriverRestApiKey=PUT_ROTATED_DRIVER_REST_API_KEY_HERE
OneSignal__VendorWebAppId=a0a2059e-f011-464d-abe1-7b3de71f72ab
OneSignal__VendorWebRestApiKey=PUT_ROTATED_VENDOR_WEB_REST_API_KEY_HERE
OneSignal__AdminWebAppId=c32e801d-7fa0-46f3-bd0a-564af78dbddf
OneSignal__AdminWebRestApiKey=PUT_ROTATED_ADMIN_WEB_REST_API_KEY_HERE
OneSignal__DefaultWebUrl=https://vendor.zadna0.com/
OneSignal__AdminDefaultWebUrl=https://admin.zadna0.com/
